:root{
    --primary-color: green;
    --secondary-color: white;
}
*{
    box-sizing: border-box;
}
body{
    margin: 10px;
    font-family: "Roboto", sans-serif;
    color: black;
}
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}
.data,.weather{
    padding: 1rem;
    text-align: center;
}
.data h2, .weather h2{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.75rem;
}
.weather img{
    width: 64px;
    height: 64px;
    margin: 0 auto;
    display: block;
}
footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}